body {
  font-size: 1em;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER NAME**/
#header-brand {
  border-radius: 0;
  border: 0;
  background: url('../images/space.jpg') no-repeat;
  max-width: 100%;
  height: 120px;
}
#header-brand span {
  color: white;
  font-family: 'Abril Fatface', cursive;
}

#header-brand h1 {
  margin:auto;
  color: white;
  font-size: 4.3em;
  margin-top: 20px;
}
#header-brand p {
  padding-top: 10px;
}

/** NAV BAR **/
#header-nav {
  margin-top: -20px;
  background-color: #ccb293;
}

.navbar-header .navbar-brand {
  color: #B92F1C;
}
.navbar-brand {
  color: #000;
  border-right: 1px solid black;
  pointer-events: none;
}
#nav-list {
  margin-right: 10px;
}
#nav-list a {
  color: #951C49;
  font-size: 1.5em;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list .active {
  color: #E7E7E7;
}

#nav-list a span {
  font-size: 1em;
}
.navbar-default .navbar-toggle {
  border: 1px solid black;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

/*****MAIN CONTENT*****/

.container .jumbotron h1 {
  font-size: 4em;
  font-weight: 900;
  padding-bottom: 40px;
}

#intro {
  font-size: 1em;
}

.contact-links {
  padding-top: 40px;

}

.contact-links li {
  padding: 10px 0 0 0;
}

.contact-links a {
  background: #64989b;
  font-size: 1em;
  color: #ffffff;
}

/*****Project Page********/
#python, #android, #java {
  padding-bottom: 20px;
}

#python img, #android img, #java img {
  border: 3px solid white;
}
#python img:hover, #android img:hover, #java img:hover {
  border: 3px solid black;
}
#project-header {
  font-size: 3em;
  text-align: center;
}

#note p {
  color: bold black;
}

/*****Footer****/
/*.panel-footer {
  background-color: #999999;
  position: relative;
  width: 100%ynm mh iiiiiiiiiiiiiiiiik;
}
*/
/*#copyright {
  text-shadow: 1px 1px #003300; 
  
}*/

/**** PYTHON *******/
.container-fluid h2 {
  font-size: 2em;
  font-family: 'Oxygen', sans-serif;
}

.python-project hr {
  margin-bottom: 20px;
  border: 1px solid #bfbfbf;
}
#img-content {
  margin-top: 40px;
}
#description-header {
  margin-top: 40px;
}

.description .title {
  font-size: 2em;
  font-family: 'Oxygen', sans-serif;
}

.description p {
  font-family: 'Oxygen', sans-serif;
  font-size: 1em;

}
.jumbotron .description a:visited {
  color: blue;
}

.btn-default:hover {
  background-color: #1eab9d;
  color: white;
}

.box { 
  height: 100%; 
  width: 450px; 
  text-align: center;
}

.box img { 
  height: 100%; 
  width: auto; 
  vertical-align: bottom;
}


/********** Large devices only **********/
@media (min-width: 1200px) {

  #intro img {
    float: left;
    margin-right: 15px;
    margin-top: 10px;
  }

  .panel-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #intro img {
    float: left;
    margin-right: 15px;
  }

  .panel-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  #intro img {
    position: relative;
    left: 50%;
    margin-left: -135px;
  }

  .intro-para {
    padding-top: 20px;
  }

  .panel-footer {
    display: none;
  }


}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  #header-brand {
    height: 60px;
  }
  #header-brand h1 {
    font-size: 3.5em;
    margin-top: 10px;
    text-align: center;
  }

  #intro img {
    position: relative;
    left: 50%;
    margin-left: -135px;
  }

  #intro .intro-para {
    padding-top: 20px;
  }

  .panel-footer {
    display: none;
  }

  #python, #android, #java {
    text-align: center; 
    padding-bottom: 20px;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

  #intro img {
    position: relative;
    left: 50%;
    margin-left: -135px;
  }

  .panel-footer {
    display: none;
  }
}
